@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Rowdies:wght@300&display=swap');

body {
    background-color: #F9FAFC;
}

/* Navigation Bar */

.navbar-nav {
    margin-left: auto;
}

/* Callout Container */
.callout-container {
    height: 100vh;
    background: url("https://res.cloudinary.com/dkolsfjkx/image/upload/v1674039432/cafe-background_yfjzow.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Jumbotron */

.jumbotron {
    color: white;
    margin-bottom: 18rem;
    margin-right: 18rem;
}

h1, h2 {
    font-family: 'Rowdies', cursive;
    text-transform: uppercase;
}

.jumbotron-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1.5rem;
}

.btn-info {
    background-color: #29b3ad;
    border-color: #1d486a;
    font-family: 'Noto Sans JP', sans-serif;
}

.btn-info:hover {
    background-color: #3dd2cc;
    border-color: #1d486a;
}

/* Menu */

.food-container {
    background-color: #3dd2cc;
    display: flex;
}

/* Login Page */

.account-container {
    margin-bottom: 90px;
}

.btn-login {
    margin-left: 20px;
    background-color: #29b3ad;
    border-color: #1d486a;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 5px;
    padding: 5px 10px;
}

.btn-login:hover {
    background-color: #3dd2cc;
    border-color: #1d486a;
}


/* Media Queries */

/* for small screen size from 767px wide and down */
@media screen and (max-width: 767px) {
   
    .jumbotron {
        margin-right: 1rem;
    }

}