{% extends "base.html" %}

{% block content %}
{% load static %}


<div class="container error-container">
    <div class="row text-center">
        <div class="col-6">
            <img src="https://res.cloudinary.com/dkolsfjkx/image/upload/v1677252952/logo_skz2dv.jpg">
            <img src="{% 'static/images/logo.png %}">
        </div>
        <div class="col-6">
            <h4>Sorry this page doesn't exist.</h4>
            <h5>Click <a href="{% url 'home' %}">here</a> to return back to the Craft Cafe Homepage</h5>
        </div>

    </div>
</div>



{%endblock%}

