{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if user.is_superuser %}
<div class="container-fluid edit-container">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="mt-3">Amend a Workshop Booking</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <h4 class="text-center"><strong>Amend the Workshop Booking of: {{ user.username }}</strong></h4>
            {{ booking_form.media }}
            <form method="POST" class="contact-form mx-auto">
                {% csrf_token %}
                {{ form | crispy }}
                <div class="row text-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-lg btn-dark my-3">Save Changes</button>
                    </div>
                </div>
            </form>
            <div class="text-center">
                <a href="{% url 'cafe-dashboard' %}" class="btn btn-lg btn-dark my-3">Go Back</a>
            </div>
        </div>  
    </div>
</div>

{% else %}

<div class="container my-5">
    <div class="row text-center">
        <div class="col-12">
            <h3>
                You must be an administrator to amend a booking. 
            </h3>
            <a href="{% url 'account_login' %}">Log in Here</a>
        </div>
    </div>
</div>

{% endif %}

{%endblock%}