{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

{% if booked %}
<div class="alert alert-success" role="alert">
    Your booking is awaiting approval
</div>
{% else %}

<!--Workshop Descriptions-->
<div class="container-fluid">
    <div class="row text-center"></div>
        <div class="col-12">
            <h2>The Craft Cafe Workshops</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-10 offset-1">
            <h3>Mondays</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3 offset-1">
            <img src="https://res.cloudinary.com/dkolsfjkx/image/upload/v1674901659/alex-block-FRfuOZWpdeI-unsplash_aeujvp.jpg" class="img-thumbnail" alt="Balls of Wool">
        </div>
        <div class="col-5 offset-1">
            <h4>All Things Wool</h4>
            <p>This workshop is all about wool</p>
        </div>

    </div>

</div>

{% if user.is_authenticated %}

<!--Workshop Booking Form-->
<div class="container">
    <div class="row mt-2 text-center">
        <div class="col-12">
            <h2 id="contact-header">Make a Reservation for a Craft Cafe Workshop</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <p>
                Booking as: {{ user.username }}
            </p>
            {{ booking_form.media }}
            <form method="POST" class="contact-form">
                {% csrf_token %}
                {{ booking_form | crispy }}
                <div class="row text-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-lg btn-info mt-3">Submit Booking Request</button>
                    </div>
                </div>
            </form>
        </div>  
    </div>
</div>

{% else %}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-12">
            <h3>
                You must be logged in to make a booking. 
            </h3>
            <a href="{% url 'account_login' %}">Log in Here</a>
        </div>
    </div>
</div>

{% endif %}
{% endif %}

{%endblock%}