{% extends "base.html" %}

{% block content %}

<div class="container-fluid posts-container">
    <div class="row">
        <h1 class="text-center mt-3">The Craft Cafe Community</h1>
        <h3>Show off your Craft Cafe creations here...<span> <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#postModal">
            Add a Post
            </button> </span></h3>
    </div>

    <!--Posts-->
    <div class="row">
        <div class="col-12 mt-3">
            <div class="row">
                {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-2 post-card">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="../media/cafe-sign-post.png">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                    <a href="{% url 'post-detail' post.slug %}" class="post-link">
                                        <h2 class="card-title">{{ post.title }}</h2>
                                        <p class="card-text">{{ post.excerpt }}</p>
                                    </a>
                                    <hr />
                                    <p class="card-text text-muted h6">
                                        {{ post.created_on}}
                                    </p>
                                    <div class="row">
                                        <div class="col-2">
                                            <strong>
                                                {% if user.is_authenticated %}
                                                <form class="d-inline" action="{% url 'post_like2' post.slug %}" method="POST">
                                                    {% csrf_token %}
                                                    {% if liked %}
                                                    <button type="submit" name="like-heart_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                                    {% else %}
                                                    <button type="submit" name="like-heart_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                                    {% endif %}
                                                </form>
                                                {% else %}
                                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                                {% endif %}
                                                <span class="text-secondary">{{ post.number_of_likes }} </span>
                                            </strong>
                                        </div>
                                        <div class="col-2">
                                            {% with comments.count as total_comments %}
                                            <strong class="text-secondary"><i class="far fa-comments"></i>
                                                {{ total_comments }}</strong>
                                            {% endwith %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {% if is_paginated %}
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                    {% endif %}
                    {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>


{%endblock%}