{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <h1>The Craft Cafe Community</h1>
        <h3>Show off your Craft Cafe creations here...</h3>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!--Posts-->
        <div class="col-12 mt-3">
            <div class="row">
                {% for post in post_list %}
                    <div class="col-md-4">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in post.featured_image.url %}
                                    <img class="card-img-top" src="../media/cafe-sign-post.png">
                                    {% else %}
                                    <img class="card-img-top" src=" {{ post.featured_image.url }}">
                                    {% endif %}
                                    <div class="image-flash">
                                        <p class="author">Author: {{ post.author }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>
</div>


{%endblock%}