{% extends "base.html" %}

{% block content %}


<div class="container-fluid delete-container">
    <div class="row text-center">
      <div class="col-12">
        <h1 id="contact-header">Delete your Comment</h1>
      </div>
    </div>
    <div class="row text-center">
        <div class="col-8 offset-2">
            <h3 class="mb-4">
            Delete comment posted to: {{ comment.post.title }} on {{ comment.created_on }}
            </h3>
            <form method="POST">
                {% csrf_token %}
                <p>Are you sure? We are so happy that you wanted to share your Crafty comments with the world...</p>
                <div class="row text-center">
                    <div class="col-12">
                        <button type="submit" class="btn btn-lg btn-info mt-3">Delete Comment</button>
                    </div>
                </div>
            </form>
            <div>
                <a href="{% url 'profile-page' %}" class="btn btn-lg btn-info mt-3">Go Back</a>
            </div>
        </div>  
    </div>
</div>


{%endblock%}