{% extends "base.html" %}

{% block content %}


<div class="container-fluid delete-container">
    <div class="row text-center">
      <div class="col-12">
        <h1 id="contact-header">Delete your Craft Cafe User Account</h1>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-8 offset-2">
        <h3>
          Delete the account for <strong>{{ user.username }}</strong>?
        </h3>

        <form method="POST">
          {% csrf_token %}
          <p>Are you sure? You won't be able to make workshop bookings, or post your crafty creations anymore...</p>
          <p>and that's no fun...</p>
          <div class="row text-center">
            <div class="col-12">
              <button type="submit" class="btn btn-lg btn-info mt-3">Delete my Account</button>
                    </div>
                </div>
            </form>
            <div>
              <a href="{% url 'profile-page' %}" class="btn btn-lg btn-info mt-3">Go Back</a>
          </div>
        </div>  
    </div>
</div>


{%endblock%}