{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row mt-2 mb-3 text-center">
        <div class="col-12">
            <h1 id="contact-header">Edit your Post</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <p>
                Edit post titled: {{ post.title }}
            </p>
            <form method="post" enctype="multipart/form-data" style="margin-top: 1.3em;">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-login mt-2">Save Changes</button>
            </form>
        </div>  
    </div>
</div>

{%endblock%}