{% extends 'base.html' %} 
{% block content %}
{% load crispy_forms_tags %}

{% if user.is_authenticated %}
<div class="container-fluid post-details-container">
    <!-- Back to all posts button -->
    <div class="row mx-3">
        <div class="col-12">
          <a class="btn btn-dark mt-4 mb-3" href="{% url 'craft-community' %}"><i class="fas fa-reply return-icon"></i> Back to Posts</a>
        </div>
    </div>
    <!-- Post photo and likes, comments count -->
    <div class="row mx-3">
        <div class=" col-12 col-md-6 col-lg-6 mt-2">
            {% if "placeholder" in post.featured_image.url %}
            <img src="https://res.cloudinary.com/dkolsfjkx/image/upload/v1673949049/cafe-sign-post_hix7ij.png" width="100%" class="img-fluid post-detail-img">
            {% else %}
            <img src=" {{ post.featured_image.url }}" width="100%" class="img-fluid post-detail-img">
            {% endif %}
                <!-- Likes and Comments counts -->
                <div class="row">
                    <div class="col-8 col-sm-8 col-lg-10">
                        <strong>
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="like-heart_id" value="{{post.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="like-heart_id" value="{{post.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            <span class="text-secondary">{{ post.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-4 col-sm-4 col-lg-2">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
        </div>

        <!-- Post title, author and content -->
        <div class="col-12 col-md-6 col-lg-6">
            <h2 class="post-title">{{ post.title }}</h2>
            <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            <hr>
            <div class="card-body">
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
            </div>
        </div>
    </div>

    <!-- Comments Section -->
    <div class="row">
        <div class="col-12">
            <hr>
        </div>
    </div>
    <div class="row mx-3">
        <div class="col-md-8 mb-4 mt-2 ">
            <h3>Comments:</h3>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.comment_content | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card comment-card mb-4 mt-2 ">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-info" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}
                <!-- Add a Comment box -->
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-login mt-2">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container mt-5">
    <div class="row text-center">
        <div class="col-12">
            <h3>
                You must be logged in to view community posts. 
            </h3>
            <a href="{% url 'account_login' %}">Join the Craft Cafe Community Here</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock content %}