{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}


<!-- Account Details Container -->
<div class="container">
    <div class="row text-center my-3">
        <div class="col-12">
            <h1>My Craft Café Profile Page</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 my-3">
            <h2><i class="far fa-user"></i> Personal Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table profile-table">
                <thead>
                  <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Email Address</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><a class="btn btn-dark btn-profile" href="{% url 'delete-account' user.id %}">Delete Account</a></td>
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr class="rounded">

<!-- Bookings Made Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <h2><i class="fas fa-table"></i> Bookings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table profile-table">
                
                <thead>
                    <tr>
                      <th scope="col">Craft Workshop</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">No. of Places</th>
                      <th scope="col">Approval Status</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    {% for booking in bookings %}
                      <td><strong>{{ booking.workshop }}</strong></td>
                      <td>{{ booking.day }}</td>
                      <td>{{ booking.time }}</td>
                      <td>{{ booking.places }}</td>
                      {% if booking.approved %}
                          <td>Confirmed</td>
                      {% else %}
                          <td>Awaiting approval</td>
                      {% endif %}
                      <td>
                        <a class="btn btn-dark btn-profile" href="{% url 'edit-booking' booking.id %}">Edit</a>
                        <a class="btn btn-dark btn-profile" href="{% url 'delete-booking' booking.id %}">Delete</a>
                      </td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td>You haven't made any bookings. Click <a href="{% url 'contact' %}" role="button">here</a> to book.</td>
                  </tr>

                  {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr class="rounded">

<!-- Posts Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-3">
            <h2><i class="fa-regular fa-pen-to-square"></i> Posts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table profile-table">
                <thead>
                    <tr>
                      <th scope="col">Title</th>
                      <th scope="col">Category</th>
                      <th scope="col">Date Posted</th>
                      <th scope="col">Likes</th>
                      <th scope="col">Comments</th>
                      <th scope="col">Approval Status</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    {% for post in posts %}
                    <td><strong><a href="{% url 'post-detail' post.slug %}" class="post-link">{{ post.title }}</a></strong></td>
                    <td>{{ post.category }}</td>
                    <td>{{ post.created_on }}</td>
                    <td>{{ post.number_of_likes }}</td>
                    <td>{{ post.number_of_comments }}</td>
                    {% if post.approved %}
                          <td>Approved</td>
                      {% else %}
                          <td>Awaiting approval</td>
                      {% endif %}
                    <td>
                        <a class="btn btn-dark btn-profile" href="{% url 'edit-post' post.id %}">Edit</a>
                        <a class="btn btn-dark btn-profile" href="{% url 'delete-post' post.id %}">Delete</a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                    <td>You haven't made any posts. Click <a href="{% url 'craft-community' %}" role="button">here</a> to post your Craft Cafe Creations.</td>
                  </tr>
                  {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr class="rounded">

<!-- Comments Container -->
<div class="container">
  <div class="row">
      <div class="col-12 my-3">
          <h2><i class="far fa-comment"></i> Comments</h2>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <table class="table profile-table">
              
              <thead>
                  <tr>
                    <th scope="col">Post</th>
                    <th scope="col">Comment</th>
                    <th scope="col">Date Posted</th>
                    <th scope="col">Approval Status</th>
                  </tr>
              </thead>
              <tbody class="table-group-divider">
                  
                  <tr>
                    {% for comment in comments %}
                    <td><strong><a href="{% url 'post-detail' comment.post.slug %}" class="post-link">{{ comment.post }}</a></strong></td>
                    <td>{{ comment.comment_content }}</td>
                    <td>{{ comment.created_on }}</td>
                    {% if comment.approved %}
                          <td>Approved</td>
                      {% else %}
                          <td>Awaiting approval</td>
                      {% endif %}
                      <td>
                        <a class="btn btn-dark btn-profile" href="{% url 'edit-comment' comment.id %}">Edit</a>
                        <a class="btn btn-dark btn-profile" href="{% url 'delete-comment' comment.id %}">Delete</a>
                    </td>
                  </tr>
                  {% empty %}
                  <tr>
                      <td>You haven't commented on any posts. Click <a href="{% url 'craft-community' %}" role="button">here</a> to comment on some Craft Cafe creations.</td>
                  </tr>
                  {% endfor%}
              </tbody>
          </table>
      </div>
  </div>
</div>


{%endblock%}