{% extends "base.html" %}

{% block content %}


<!-- Account Details Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-2">
            <h2><i class="far fa-user"></i> Personal Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <table class="table profile-table">
                <thead>
                </thead>
                <tbody>
                  <tr>
                    <td>Username: </td>
                    <td>{{ user.username }}</td>
                  </tr>
                  <tr>
                    <td>Email: </td>
                    <td>{{ user.email }}</td>
                  </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-6">
            <p>
                <a href="#" class="btn btn-primary">Edit Account</a>
            </p>
            <p>
                <a href="#" class="btn btn-danger">Delete Account</a>
            </p>
        </div>
    </div>
</div>

<hr class="rounded">

<!-- Bookings Made Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h2><i class="fas fa-table"></i> Bookings</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table">
                {% for booking in bookings %}
                <thead>
                    <tr>
                      <th scope="col">Craft Workshop</th>
                      <th scope="col">Date</th>
                      <th scope="col">Time</th>
                      <th scope="col">No. of Places</th>
                      <th scope="col">Approval Status</th>
                    </tr>
                </thead>
                <tbody>
                    
                    <tr>
                        <td>{{ booking.workshop }}</td>
                        <td>{{ booking.day }}</td>
                        <td>{{ booking.time }}</td>
                        <td>{{ booking.places }}</td>
                        {% if booking.approved %}
                            <td>Confirmed</td>
                        {% else %}
                            <td>Unconfirmed</td>
                        {% endif %}
                        <td>
                            <a href="#" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>You haven't made any bookings. Click <a href="{% url 'contact' %}" role="button">here</a> to book.</td>
                    </tr>
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>

<hr class="rounded">

<!-- Posts and Comments Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h2><i class="fa-regular fa-pen-to-square"></i> Posts</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table>

            </table>
        </div>
    </div>
</div>

{%endblock%}