{% extends "base.html" %}

{% block content %}


<!-- Account Details Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h2>Personal Profile Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table>

            </table>
        </div>
    </div>
</div>

<!-- Bookings Made Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h2>Booking Request Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- TEST -->
            {{ booking }}
            <!-- ENDTEST -->
            <table>

            </table>
        </div>
    </div>
</div>

<!-- Posts and Comments Container -->
<div class="container">
    <div class="row">
        <div class="col-12 my-5">
            <h2>Craft Cafe Community Details</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table>

            </table>
        </div>
    </div>
</div>

{%endblock%}